.a {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 0.125rem solid var(--fg-color);
  border-radius: 1rem;
  transition-duration: 300ms;
  font-weight: bold;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
}

.a:hover {
  cursor: pointer;
}

.smallA {
  width: 6rem;
  padding: 0.5rem;
  font-size: 0.95rem;
}

.mediumA {
  width: 16rem;
  padding: 0.75rem;
  font-size: 1rem;
}

.largeA {
  width: 24rem;
  padding: 0.75rem;
  font-size: 1.2rem;
}

.fillA {
  width: 100%;
}

.noBorder {
  border: none;
}
