.home {
  height: 100vh;
  min-height: 900px;
}

.subHeader {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
}

.shortcutsModalContent {
  padding: 2rem;
  font-size: 1.2rem;
}

.sidebar {
  margin-left: 0.4rem;
}
